a.imghover{
	float: left;
	width:100%;

	margin:0;
	overflow:hidden;
}
.capahover {
	background-color: rgba(0, 0, 0, 0.56);
	position: absolute;
	background-image: url('../img/photo-white.png');
	background-repeat: no-repeat;
	box-shadow: inset 0 0 120px #000;
} 