.table {
    width: 87%;
    border: 1px solid #fff;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
}

.table tr {
    background-color: #ffff;
    border: 1px solid #000;
}

.table th,
.table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.table thead th {
    text-transform: uppercase;
    background-color: #ffff;
}

@media screen and (max-width: 1200px) {
    .table {
        border: 0px;
        margin-bottom:87px;
    }
    .fast{
        margin-top:0px !important;
            text-align: end;
    }
    .bi-check{
        color:: black; 
    }
    
    .bi-dash{
        color:: black; 
    }
    

    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #000;
        display: block;
    }
    .table th,
    .table td {

        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #000;
        text-align: right;
    }
    .table td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}