@charset "UTF-8";

/* Aquí definimos las Custom properties */

:root {
    --negro: #393939;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);
    /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
}


/* Las adaptamos al modo oscuro */

@media (prefers-color-scheme: dark) {
     :root {
        --negro: #ececec;
        --blanco: #303030;
        --sombra-ppal: #242424;
        --sombra-sec: #3c3c3c;
        --borde-negro: #FFFFFF50;
    }
}


/* Configuramos si un usuario ha activado el modo alto contraste. (BETA) */


/*
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

video {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

p a {
    display: inline;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}           

li {
    list-style-type: none;
    color: #666666;
    font-size: 12px;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    -webkit-hyphens: auto;
    hyphens: auto;
    font-weight: inherit;
    font-size: inherit;
}

::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

form,
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    display: block;
}

.contenedor {
    width: 90%;
    max-width: 120em;
    padding: 1em;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: #ffffff;
}

.contenedor .ul {
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.contenedor .li {
    padding: 1em;
    margin: 0 2em 0 0;
    color: rgb(253, 74, 19);
    transition: all 0.4s ease;
    border-radius: 31px;
    background-color: white;
    border: rgb(253, 74, 19) 2px solid;
    transition: all 0.5s ease;
    cursor: pointer;
}

.contenedor .li.activo {
    background-color: rgb(253, 74, 19);
    color: white;
    text-align: center;
    border-radius: 31px;
    font-size: 14.5px;
    font-family: inherit;
    font-weight: 500;
}

.contenedor .subcontenedor {
    min-height: 10vh;
    position: relative;
}

.contenedor .bloque {
    margin: 1em;
    padding: 1em;
    position: absolute;
    top: 2em;
    color: var(--negro);
    transition: all 0.4s ease;
    display:none;
    border-radius: 1em;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
}

.contenedor .bloque.activo {
    display:block;
    opacity: 1;
    transform: translateY(0%);
}