@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1800px
************/

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(253, 74, 19);
    border-radius: 6px;


  }
  .boton_personalizado:hover{
    color: #ffffff;
    background-color: #007bff;;
  }

  .boton_personalizado2{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    background-color: rgb(255, 58, 58);
    border-radius: 6px;


  }
  .boton_personalizado2:hover{
    color: #ffffff;
    background-color: #007bff;
  }

  .boton_personalizado3{

    display: block;
    text-align: center;
    padding: 10px;
    background: rgb(253, 74, 19);
    width: 80%;
    margin: 0 auto;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: roboto;
  }
  .boton_personalizado3:hover{
    color: #ffffff;
    background-color: #007bff;
  }

  @media (min-width:369px) {
    .boton_personalizado{
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: rgb(253, 74, 19);
        border-radius: 6px;


      }
      .boton_personalizado:hover{
        color: #ffffff;
        background-color: #007bff;;
      }

      .boton_personalizado2{
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #000000;
        background-color: rgb(255, 58, 58);
        border-radius: 6px;


      }
      .boton_personalizado2:hover{
        color: #ffffff;
        background-color: #007bff;;
      }
  }
