

}.pie_pag{
flex: auto;
display: flex !important;
flex-direction: column;
justify-content: flex-end;
color: black;
margin-bottom: 24px;
line-height: 2.71429;
font-family: 'Roboto';
font-size: 12px;
}
@media (min-width:90px){
  .pie_pag{
display: none;
  }
  @media (min-width:760px){
    .pie_pag{
      flex: auto;
      display: flex !important;
      flex-direction: column;
      justify-content: flex-end;
      color: black;
      margin-bottom: 20px;
      line-height: 2.71429;
      font-family: 'Roboto';
      font-size: 12px;
      display: block;
    }
