.product-cover {
    background-color: #000;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}