 .u-section-1 {
  background: #d5dbd9;
  background-position: 50% 50%;
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/c-min2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-list-1 {
  width: 521px;
  margin: 0 -26px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 551px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 403px;
  min-height: 117px;
  margin: -65px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 403px;
  min-height: 117px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 403px;
  min-height: 117px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-7 {
  width: 264px;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 291px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 326px;
  }

  .u-section-1 .u-group-2 {
    width: 326px;
  }

  .u-section-1 .u-group-3 {
    width: 326px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 74px;
    margin-right: 74px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 645px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 645px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    width: 287px;
    min-height: 144px;
    margin-right: -20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 0;
    padding-left: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    width: 287px;
    min-height: 144px;
    margin-right: -20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 0;
    padding-left: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    width: 287px;
    min-height: 144px;
    margin-right: -20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 0;
    padding-left: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 499px;
  }

  .u-section-1 .u-image-1 {
    min-height: 678px;
    order: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 571px;
    order: 1;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 20px 30px 20px 10px;
  }

  .u-section-1 .u-group-1 {
    width: 432px;
    min-height: 107px;
    margin-right: 5px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 20px 30px 20px 10px;
  }

  .u-section-1 .u-group-2 {
    width: 432px;
    min-height: 107px;
    margin-right: 5px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 20px 30px 20px 10px;
  }

  .u-section-1 .u-group-3 {
    width: 432px;
    min-height: 107px;
    margin-right: 5px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: 145px;
    margin-left: 161px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1058px;
  }

  .u-section-1 .u-image-1 {
    min-height: 427px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 631px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-group-1 {
    width: 285px;
    min-height: 119px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-group-2 {
    width: 285px;
    min-height: 119px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-group-3 {
    width: 285px;
    min-height: 119px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 70px;
    margin-left: 86px;
  }
}
