* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.policiesUserFont {
  color: #e76c46;
}

.policiesUserColor {
  background-color: white;
  border-color: #e76c46;
  color: #e76c46;
  border-radius: 100px;
}

.policiesSubsFont {
  color: white;
}

.policiesSubsColor {
  background-color: #e76c46;
  border-color: #e76c46;
  border-radius: 100px;
  color: white;
}

.policiesUserColor:hover {
  background-color: #e76c46;
  border-color: #e76c46;
  color: white;
}

@media screen and (min-width: 768px) {
  #container-padding {
    padding-left: 32px;
  }

  #container-sidebar {
    height: 100vh;
  }

  #policiesSubs-btn {
    padding-left: 0;
  }

  #policiesUser-btn {
    padding-right: 0;
  }

  #container-policies {
    height: 100vh;
    overflow: scroll;
  }
}
@media screen and (max-width: 767px) {
  #policiesSubs-btn {
    padding: 0;
    margin-bottom: 27px;
  }

  #policiesUser-btn {
    padding: 0;
  }
}

/*# sourceMappingURL=policies.css.map */
